@model IEnumerable<WardrobeMVC.Models.Top>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src=@Html.DisplayFor(modelItem => item.Photo)>
            <div class="caption">
                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TopID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TopID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TopID })
                </p>
            </div>
        </div>
    </div>
}
